<h1>Rock Paper Scissors</h1>

<h2>Make your move:</h2>

<form action='/' method='post'>
  <input onChange='this.form.submit();' type="radio" name="move" value="rock">Rock
  <input onChange='this.form.submit();' type="radio" name="move" value="paper">Paper
  <input onChange='this.form.submit();' type="radio" name="move" value="scissors">Scissors
</form>
