<h1>Rock Paper Scissors</h1>

<h2>
  <%= "Your move: #{move}" %>
</h2>

<h2>
  <%= "The computer's move: #{compmove}" %>
</h2>

<h2>
  <%= "#{output}" %>
</h2>

<form action='/' method='get'>
  <input type="submit" value="replay">
</form>